:root {
  --primary: rgb(239, 212, 249);
  --secondary: rgb(187, 0, 254);
  --border_thickness: 3px;
}


body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary);
  color: var(--secondary);
  background-image: url(/Users/douglashaigh/TaskListAPI/Frontend/tasklistux/src/Styles/Sakura.png);
  background-size: cover;
}

h1 {
  text-decoration: underline;
  text-align: center;
  font-size: xx-large;
  }

h3 { 
  word-wrap: break-word;
  margin: 5%;
}

textarea {
  word-wrap: break-word;
}

.TaskList { 
  margin: 5%;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(4,25%);
}

.Task {
  border-style: solid;
  border-width: medium;
  border-radius: 5%;
  margin: 3%;
  font-weight: bolder;
  text-align: center;
  background-color: var(--primary);
  opacity: 85%;

}

.Task button {
  background-color: var(--primary);
  border-color: var(--secondary);
  color: var(--secondary);
  border-radius: 10%;
  font-weight: bold;
  font-size: larger;
  width: fit-content;
  margin-bottom: 3%;
  
}

#AddTaskButton {
  display: flex;
  flex-direction: column;
  margin: 2%;
  font-weight: bolder;
  align-items: center;
  font-size: larger;
  display: flex;
  flex-direction: row;
}

#AddTaskButton textarea {
  background-color: var(--primary);
  border-color: var(--secondary);
  border-style: solid;
  border-width: var(--border_thickness);
  border-radius: 5%;
  margin: 3%;
  width: 80%; 
}

#AddTaskButton button {
  border-radius: 15%;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
