:root {
  --primary: rgb(239, 212, 249);
  --secondary: rgb(187, 0, 254);
  --border_thickness: 3px;
}

body {
  margin: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary);
  color: var(--secondary);
  background-image: url(/Users/douglashaigh/TaskListAPI/Frontend/tasklistux/src/Styles/Sakura.png);
  background-size: cover;
}

body button {
  background-color: var(--primary);
  border-color: var(--secondary);
  color: var(--secondary);
  border-radius: 10%;
  font-weight: bold;
  font-size: larger;
  cursor: pointer;
}

h1 {
  text-decoration: underline;
  text-align: center;
  font-size: xx-large;
  }

h3 { 
  word-wrap: break-word;
  font-size: x-large;
  margin: 3%;
}


p {
  margin: 2%;
  font-size: medium;
}

textarea {
  word-wrap: break-word;
}

.loading {
  font-size: xx-large;
  text-align: center;
  font-weight: bolder;
}

.Task.highlight{ 
  opacity: 100%;
  /* border-width: thick; */
}

.TaskList { 
  margin: 2%;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(4,25%);
}

.Task {
  border-style: solid;
  border-width: medium;
  border-radius: 5%;
  margin: 3%;
  font-weight: bolder;
  text-align: center;
  background-color: var(--primary);
  opacity: 75%;
}

.Task button {
  margin: 3%;
}

.CompletedTask {
  opacity: 80%;
  border-style: solid;
  border-width: medium;
  border-radius: 5%;
  margin: 3%;
  font-weight: bolder;
  text-align: center;
  background-color: var(--primary);
  opacity: 50%;
}

.taskStatusButton {
  width: 75%;
  border-radius: 10%;
}

#AddTaskButton {
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  margin-right: 3%;
  font-weight: bolder;
  align-items: center;
  font-size: larger;
  display: flex;
  flex-direction: row;
}

#AddTaskButton textarea {
  background-color: var(--primary);
  border-color: var(--secondary);
  border-style: solid;
  border-width: var(--border_thickness);
  border-radius: 5%;
  margin-bottom: 3%;
  margin-right: 3%;
  margin-left: 3%;
  width: 80%; 
}

#AddTaskButton button {
  border-radius: 15%;
}

#SortButton {
  font-size: x-large;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#CompletedTasksHeader { 
  display: grid;
  grid-template-columns: 1fr auto;
  justify-items: center;
  align-items: center;
  background-color: var(--primary);
  border-style: solid;
  border-left: 0ch;
  border-right: 0ch;
  border-color: var(--secondary);
}

#DeleteCompletedTasks {
  margin-right: 50%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

@media (min-width: 200px) and (max-width: 550px) {

  h3 { 
    font-size: large;
  }

  p {
    font-size: medium;
  }
  
  body button {
    font-size: large;
  }

  #SortButton {
    font-size: larger;
  }

  .TaskList { 
    grid-template-columns: repeat(2,50%);
  }
}

@media (min-width: 551px) and (max-width: 700px) {
  .TaskList { 
    grid-template-columns: repeat(3,32%);
  } 
}

@media(min-width: 700px) {
  .TaskList { 
    grid-template-columns: repeat(4,25%);
  }
}